@model SmartTenderPortal.Models.PastWorkViewModel

@{
    Layout = null;
}

<div class="row d-flex justify-content-center mb-4">
    <form class="col-lg-10 col-md-12" id="PastWorkForm">
        <div class="row mt-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.WorkType, new List<SelectListItem> { }, "Select Work Type", new { @class = "form-control form-control-lg text-black" })
                @Html.ValidationMessageFor(model => model.WorkType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mt-4">
            <div class="form-group">
                @Html.DropDownListFor(model => model.Location, new List<SelectListItem> { }, "Select Location", new { @class = "form-control form-control-lg text-black" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="form-outline">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control form-control-lg text-black" } })
                    @Html.LabelFor(model => model.Description, new { @class = "form-label", @for = "Name" })

                </div>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
