@model SmartTenderPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal w-100", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="mb-4">
                        <div class="form-outline">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg" })
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mt-2">
                        <div class="col-md-offset-2 col-md-10 pl-0">
                            <input type="submit" class="btn btn-primary" value="Email Link" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*fixed footer*@
    <script>
        $("footer").addClass("fixed-bottom")
    </script>
}


