@model SmartTenderPortal.DbModel.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Category_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Category_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Category_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Category_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating_Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating_Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top_Reviewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top_Reviewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Special_Offer_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special_Offer_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.Brand_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Brand_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.Seller_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.Seller_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
